@import './colors.scss';

.comment-form-container {
  .form {
    &-error {
      color: $error-color;
    }
    &-warn {
      color: $warn-color;
    }
  }
  .input-comment {
    height: 100px;
    resize: none;
  }
}

.comments-container {
  .comment-email {
    color: $light-blue-color;
  }
}
